<!DOCTYPE html>
<html lang="es">
<%- include('partials/head') %> 
<body>
  <%- include('partials/header') %> 

    <!-- SECCION DEL BANNER-->
    <section class="banner">
      <img src="/images/img-home-banner.jpg" alt="" />
    </section>
  <!-- SECCION CUERPO DE LA VISTA-->  
    <section class="principal">
    <div class="container">
        <div class="row">
          <div class="col-12 titulo">
            <h2>Basado en tu última visita</h2>
          </div>

          <% visitados.forEach(producto => { %>
 
          <div class="col-12 col-md-6 col-lg-3">
            <div class="contenido">
              <figure>
                <a href="/products/detalle/<%= producto.id %> "
                  ><img src="/images/products/<%= producto.image %> " alt=""
                /></a>
              </figure>
              <article>
                <h2>
                  $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                </h2>
                <% if (producto.discount !=0) { %>
                  <span><%= producto.discount %>% OFF</span>
                <% } %>
             
                <p><%= producto.name %> </p>
                <i class="fas fa-truck"></i>
              </article>
            </div>
          </div>
          <% }) %>
          
        </div>

        <div class="row home">
          <div class="col-12 titulo">
            <h2>Ofertas</h2>
          </div>

          <% ofertas.forEach(producto => { %>
 
            <div class="col-12 col-md-6 col-lg-3">
              <div class="contenido">
                <figure>
                  <a href="/products/detalle/<%= producto.id %> "
                    ><img src="/images/products/<%= producto.image %> " alt=""
                  /></a>
                </figure>
                <article>
                  <h2>
                    $<%- (producto.price - producto.price * producto.discount / 100).toFixed(0).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".") %>
                  </h2>
                  <% if (producto.discount !=0) { %>
                    <span><%= producto.discount %>% OFF</span>
                  <% } %>
                  <p><%= producto.name %> </p>
                  <i class="fas fa-truck"></i>
                </article>
              </div>
            </div>
  
            <% }) %>

        
        </div>
    </div>
  </section>

    <%- include('partials/footer') %> 

  </body>
</html>
